<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bestinstituteofstudies">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BestInstituteOfStudies">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDTMENKSMIEn8n4fWFhs6Q4z0nJJc_OlgY" />

        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bestinstituteofstudies.MainActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bestinstituteofstudies.LoginActivity" />
        </activity>
        <activity
            android:name=".ManageStudentsActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bestinstituteofstudies.MainActivity" />
        </activity>
        <activity
            android:name=".EditStudentDetailsActivity"
            android:exported="true"
            android:parentActivityName=".ManageStudentsActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bestinstituteofstudies.ManageStudentsActivity" />
        </activity>
        <activity
            android:name=".ContactUsActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bestinstituteofstudies.MainActivity" />
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bestinstituteofstudies.MainActivity" />
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bestinstituteofstudies.MainActivity" />
        </activity>
        <activity
            android:name=".ReadMoreActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bestinstituteofstudies.MainActivity" />
        </activity>
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
    </application>

</manifest>